@font-face {
    font-family: "KumbhSans";
    src: url(../fonts/KumbhSans/KumbhSans-Thin.ttf);
    font-weight: 100;
}

@font-face {
    font-family: "KumbhSans";
    src: url(../fonts/KumbhSans/KumbhSans-ExtraLight.ttf);
    font-weight: 200;
}

@font-face {
    font-family: "KumbhSans";
    src: url(../fonts/KumbhSans/KumbhSans-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "KumbhSans";
    src: url(../fonts/KumbhSans/KumbhSans-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "KumbhSans";
    src: url(../fonts/KumbhSans/KumbhSans-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "KumbhSans";
    src: url(../fonts/KumbhSans/KumbhSans-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "KumbhSans";
    src: url(../fonts/KumbhSans/KumbhSans-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "KumbhSans";
    src: url(../fonts/KumbhSans/KumbhSans-ExtraBold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: "KumbhSans";
    src: url(../fonts/KumbhSans/KumbhSans-Black.ttf);
    font-weight: 900;
}